# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/eflomal
python/eflomal/bin

# Debug files
*.dSYM/
*.su

# ctags
tags
*.TAG

# Generated
python/eflomal/eflomal.c

# Virtualenv and build
pyvenv.cfg
bin
build
lib
lib64
**/*.egg-info
**/__pycache__
